html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

body {
  font-family: "'Roboto', sans-serif"; }

header {
  width: 100%;
  background-color: #77AA41;
  height: 100px; }
  header h1 {
    color: #fff;
    font-size: em(28);
    padding: 1em; }

article {
  width: 78.125%;
  float: left;
  padding: 1em;
  background-color: #fff; }
  article h2 {
    color: #222;
    font-size: em(24); }
  article p {
    color: #999;
    font-size: em(16); }

aside {
  width: 15.625%;
  background-color: #fff;
  border-right: 2px solid #dadada;
  float: left; }
  aside nav {
    padding: 1em; }
    aside nav ul li {
      list-style: none;
      padding: .5em; }
      aside nav ul li.active {
        background-color: #345427;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        border-radius: 8px; }
        aside nav ul li.active a {
          color: #fff;
          text-decoration: none; }
      aside nav ul li a {
        color: #222;
        text-decoration: none; }
