$primary-color: #77AA41;
$secondary-color: #345427;
$background-color: #dadada;
$font-family: "'Roboto', sans-serif";

$header-color: #fff;
$header-background-color: $primary-color;
$header-font-size: em(28);

$aside-background-color: #fff;
$aside-nav-color: $secondary-color;

$article-background-color: #fff;
$article-heading-color: #222;
$article-heading-size: em(24);
$article-content-color: #999;
$article-content-font-size: em(16);

