article { 
    width: 750px / 960px * 100%;
    float: left;
    padding: 1em;
    background-color: $article-background-color;
    h2 { 
        color: $article-heading-color;
        font-size: $article-heading-size;
    }
    p {
        color: $article-content-color;
        font-size: $article-content-font-size;
    }
}