aside { 
    width: 150px / 960px * 100%;
    background-color: $aside-background-color;
    border-right: 2px solid $background-color;
    float: left;
    nav { 
        padding: 1em;
        ul li { 
            list-style: none;
            padding: .5em;
            &.active { 
                background-color: $secondary-color;
                @include border-radius(8px);
                a { 
                    color: #fff;
                    text-decoration: none;
                }
            }
            a { 
                color: #222;
                text-decoration: none;
            }
        }
    }
}