header { 
    width: 100%;
    background-color: $header-background-color;
    height: 100px;
    h1 { 
        color: $header-color;
        font-size: $header-font-size;
        padding: 1em;
    }
}